*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.best{
    background-color: rgb(82, 5, 5);
    font-size: 20px;
    color: white;
    text-decoration: none;
}
.best a{
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.backbody{
    background: url("https://www.lindaikejisblog.com/img/background.jpg") 0% 0% / contain repeat;
    height: 100px;
    text-align: center;
    margin-top: 100px;
}

.day{
    background-color: whitesmoke;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 150px;
}

.images2 img{
    height: 400px;
    width: 400px;

}

